# Python
__pycache__/
api/__pycache__/
api/team_members/__pycache__/
api/team_member_management/__pycache__/
api/test_db.sqlite3
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
api/db.sqlite3
api/db.sqlite3-journal
media

# Virtual Environment
venv/
ENV/
env/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 